*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header{

background-color: #252627;

padding: 20px 0;
}
header nav{

width: 50%;

margin: auto;
}
header nav ul{
    
display: flex;
    
justify-content: space-between;
    
align-items: center;
}
header nav ul li{
    
list-style: none;
}
header nav ul li a{
    
text-decoration: none;
    
text-transform: uppercase;
    
color: #f8f8f8;
    
font-family: 'Oswald', sans-serif;
    
font-weight: 300;
    
font-size: 20px;
}
header nav ul li h1{
    
color: #68b169;
    
font-size: 40px;
    
font-family: 'Oswald', sans-serif;
    
font-weight: 900;
    
font-size: 30p;
}
.content{

background-color: #3c3e42;

height: 90vh;

display: flex;

justify-content: space-between;

align-items: center;
}
.main_content{

width: 70%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;
}
.text{

width: 40%;
}
.text h1{

text-transform: uppercase;

color: black;

color: #f8f8f8;

font-family: 'Oswald', sans-serif;

font-weight: 400;

font-size: 35px;
}
.text p{color: #f8f8f8;margin: 10px 0;font-family: 'Oswald', sans-serif;font-weight: 300;font-size: 20px;}
.text form{

color: #f8f8f8;

font-family: 'Oswald', sans-serif;

font-weight: 300;

font-size: 15px;
}
.text form input{

}
.text button{

color: #f8f8f8;

background-color: #68b169;

padding: 10px 20px;

border: none;

border-radius: 30px;

margin-top: 30px;

font-family: 'Oswald', sans-serif;

font-weight: 400;

font-size: 15px;

text-transform: capitalize;
}
.form{

width: 35%;

text-align: center;

display: flex;

align-items: center;
}
.register_now{

padding: 50px 0;

background-color: #68b169;
}
.register_now h1{
    
color: #f8f8f8;
    
font-family: 'Oswald', sans-serif;
    
text-transform: uppercase;
    
margin-bottom: 5px;
    
font-weight: 400;
    
font-size: 25px;
}
.register_now p{
    
color: #f8f8f8;
    
margin-bottom: 15px;
    
font-family: 'Oswald', sans-serif;
    
font-weight: 300;
    
font-size: 15px;
}
.register_now form{

}
.register_now form input{
    
width: 80%;
    
font-family: 'Oswald', sans-serif;
    
margin-top: 5px;
    
padding: 10px 10px 10px 10px;
    
font-weight: 300;
    
font-size: 13px;
}
.register_now form input[type="submit"]{
    
background-color: #4f8752;
    
border: none;
    
font-family: 'Oswald', sans-serif;
    
text-transform: uppercase;
    
color: #f8f8f8;
    
padding: 10px 20px;
    
width: 80%;
    
width: auto;
    
margin-top: 20px;
    
font-weight: 400;
    
font-size: 15px;
}